<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.i_keeper_test" >

    <!-- 일반 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM 권한 -->
    <permission
        android:name="org.androidtown.i_keeper_test.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.androidtown.i_keeper_test.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".MonitorActivity" >
        </activity>
        <activity android:name=".SettingActivity" />

        <!-- GCM 처리 서비스 -->
        <service android:name=".GCMIntentService" />

        <!-- GCM 관련 브로드캐스트 메시지를 받을 수신자 -->
        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- 메시지 수신 메시지 지정 -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.androidtown.gcm.push" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Frag_Realtime"
            android:label="@string/title_activity_frag__realtime" >
        </activity>
    </application>

</manifest>